@model string

<label class="inline-flex items-center gap-3 text-sm">
    <input type="checkbox" class="peer sr-only" />
    <span class="h-6 w-11 rounded-full bg-zinc-300 after:block after:h-5 after:w-5 after:translate-x-0.5 after:translate-y-0.5 after:rounded-full after:bg-white after:transition peer-checked:bg-zinc-950 peer-checked:after:translate-x-5"></span>
    <span>@Model</span>
</label>
